.header-buttons{
    margin: 1rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.backButton{
    width: 10%;
    height: 80px;
    background-color: transparent;
    background-image: url(/assets/imgs/pokedex.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.div-contet{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.pokemons{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.pokemon{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    height: 90%;
}

.pokemon .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .gen{
    color: #000;
    font-size: 1.5rem;
}

.header .number{
    color: #000;
    font-size: 1.5rem;
}

.pokemon .name{
    margin-top: 0.3rem;
    font-size: 2.3rem;
    font-weight: bold;
    color: #000;
    margin-bottom:0.20rem ;
    text-transform: capitalize;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
}

.pokemon .detail .types .type{
    color: #000;
    padding: 0.5rem 1rem;
    margin: 0.25rem 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid #000;
}

.pokemon img{
    max-width: 100%;
    height: 35%;
    align-self: center;
    margin-top: 1.5rem;
}

.pokemon .details{
    border: 1px solid #FFF;
    margin-top: 0.25rem;
    width: 100%;
    height: 50%;
    background-color: #000;
    border-radius: 2rem;
    opacity: 0.8;
    color: #fff;
}

.details .infoList{
    list-style: none;
    font-size: 1.6rem;
}


/* Type colors Backgroung */
.bug-background  {
    background-color:#1C4C25;
    background-image: url(/assets/imgs/bugType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.dark-background  {
    background-color:#040706;
        background-image: url(/assets/imgs/darkType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.dark-background .name{
    color: #FFF !important;
}

.dragon-background  {
    background-color:#448B95;
        background-image: url(/assets/imgs/dragonType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.electric-background  {
    background-color:#E3E32B;
        background-image: url(/assets/imgs/eletricType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.fairy-background  {
    background-color:#971944;
        background-image: url(/assets/imgs/fairyType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.fighting-background  {
    background-color:#994025;
        background-image: url(/assets/imgs/fightingType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.fire-background  {
    background-color:#AB2021 ;
        background-image: url(/assets/imgs/fireType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.flying-background  {
    background-color:#4A677D ;
        background-image: url(/assets/imgs/flyingType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ghost-background  {
    background-color:#33336B ;
        background-image: url(/assets/imgs/ghostType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.grass-background  {
    background-color: #147B3D;
        background-image: url(/assets/imgs/grassType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ground-background  {
    background-color:#A9702C ;
        background-image: url(/assets/imgs/groundType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ice-background  {
    background-color:#86D2F5 ;
        background-image: url(/assets/imgs/iceType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.normal-background  {
    background-color:#75515B ;
        background-image: url(/assets/imgs/normalType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.poison-background  {
    background-color:#5E2D88 ;
        background-image: url(/assets/imgs/poisonType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.psychic-background  {
    background-color:#A42A6C ;
        background-image: url(/assets/imgs/psychicType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.rock-background  {
    background-color:#48180B ;
        background-image: url(/assets/imgs/rockType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rock-background .name{
    color: #FFF !important;
}

.steel-background  {
    background-color:#61746D ;
        background-image: url(/assets/imgs/steelType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.water-background  {
    background-color:#1552E2;
        background-image: url(/assets/imgs/waterType.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* ---- */

/* colors for the imagem https://static.wikia.nocookie.net/pokemon/images/8/8c/PokemonTypes.png/revision/latest?cb=20170417193722 */

/* Type colors */
.bug  {
    background-color:#3B9950;
}
.dark  {
    background-color:#5A5979;
}
.dragon  {
    background-color:#61CAD9;
}
.electric  {
    background-color:#FBFB72;
}
.fairy  {
    color: white !important;
    background-color:#EA1369;
}
.fighting  {
    background-color:#EF6138;
}
.fire  {
    background-color:#FD4C5A ;
}
.flying  {
    background-color:#93B2C7 ;
}
.ghost  {
    background-color:#906790 ;
}
.grass  {
    background-color: #27CB4F;
}
.ground  {
    color: white !important;
    background-color:#6E491F ;
}
.ice  {
    background-color:#D8F0FA ;
}
.normal  {
    background-color:#CA98A7 ;
}
.poison  {
    background-color:#9B69D9 ;
}
.psychic  {
    color: white !important;
    background-color:#F81C91 ;
}
.rock  {
    color: white !important;
    background-color:#8B3E21 ;
}
.steel  {
    background-color:#42BD94 ;
}
.water  {
    background-color:#86A8FC;
}
/* ---- */


/* @media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} */
